<div class="sidebar item__ads">
      <div class="sidebar-1">
        <aside class="feature-articles">
          <h2>特集記事</h2>
          <ul>
            <li><a href="#">
              <i class="fa fa-caret-right"></i>
              comming soon...
            </a></li>
            <li><a href="#">
              <i class="fa fa-caret-right"></i>
              comming soon...
            </a></li>
            <li><a href="#">
              <i class="fa fa-caret-right"></i>
              comming soon...
            </a></li>
            <li><a href="#">
              <i class="fa fa-caret-right"></i>
              comming soon...
            </a></li>
          </ul>
        </aside>

        <aside class="recommendation">
          <h2>おすすめ記事</h2>
          <ul>
            <li><a href="#">
              <img src="img/03/flower.jpg" alt="">
              <div class="text">
                comming soon...
              </div>
              </a></li>
            <li><a href="#">
              <img src="img/03/old.jpg" alt="">
              <div class="text">
                comming soon...
              </div>
            </a></li>
          </ul>
        </aside>
      </div>

      <div class="sidebar-2">
        <aside class="popularity">
          <h2>人気の記事</h2>
          <ul>
            <li><a href="#">
              <img src="img/03/sakura-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
            <li><a href="#">
              <img src="img/03/tel-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
            <li><a href="#">
              <img src="img/03/green-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
            <li><a href="#">
              <img src="img/03/bag-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
            <li><a href="#">
              <img src="img/03/color-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
            <li><a href="#">
              <img src="img/03/sea-60x60.jpg" alt="">
              <div class="text">
                comming soon...
                <span>comming soon...</span>
              </div>
            </a></li>
          </ul>
        </aside>
      </div>
    </div>