@charset "utf-8";

.wrap {
  display: grid;
  grid-template:  "header"      auto
                  "navigation"  50px
                  "article-main" 1fr
                  "footer"      50px
                  / 1fr;
  min-height: 100vh;
}

.item__ads {
    display: none;
}


/*
    記事
*/
.article-title {
    margin-top: 0;
    margin-bottom: var(--main-height-line);
    font-size: 2.5em;
}
.article p {
    margin-top: 0;
    margin-bottom: var(--main-height-line);
}
.article img {
    width: 100%;
    height: auto;
}
/* 記事の小見出し */
.article h2 {
    padding-left: 10px;
    border-left: solid 10px var(--main-icon-color);
    font-weight: normal;
}
/* 記事の投稿日 */
.article-info {
    margin-top: -10px;
    margin-bottom: var(--main-height-line);
}
.article-info i {
    margin-right: 5px;
    color: var(--main-icon-color);
    font-size: 20px;
}
/* 記事の分類 */
.tag-item {
    margin-bottom: var(--main-height-line);
}
.tag-item li a {
    display: block;
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--main-bottom-color);
    font-size: 0.8em;
}
.tag-item li a:hover {
    opacity: var(--main-opacity);
}
.tag-item ul:after {
    content: "";
    display: block;
    clear: both;
}
.tag-item li {
    float: left;
    width: auto;
}


/*
    SNSのシェアボタン
*/
.share {
    margin-top: 40px;
    margin-bottom: 40px;
}
.share ul {
    margin: 0;
    padding: 0;
}
.share li a {
    display: block;
    padding: 10px 5px;
    text-align: center;
}
.share-tw {
    background-color: #55acee;
}
.share-fb {
    background-color: #3b5998;
}
.share-gp {
    background-color: #dd4b39;
}
.share li a:hover {
    opacity: var(--main-opacity);
}
.share ul:after {
    content: "";
    display: block;
    clear: both;
}
.share li {
    float: left;
    width: 33.3333%;
}

/*
    関連記事メニュー
*/
.kanren {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f0f0d4;
}
.kanren h1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #727224;
    font-size: 20px;
    font-weight: normal;
}
.kanren ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.kanren li a {
    display: block;
    padding: 5px;
    color: #000000;
    text-decoration: none;
}
.kanren li a:hover {
    text-decoration: underline;
}
.kanren ul:after {
    content: "";
    display: block;
    clear: both;
}
.kanren li {
    float: left;
    width: 25%;
}
.kanren img {
    max-width: 100%;
    height: auto;
    border: none;
}

/*
    Side Bar
*/
/* Side Bar Common */
.sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: var(--side-border-bottom);
    color: var(--main-font-color);
    font-size: var(--side-font-size);
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li a:hover {
    background-color: var(--main-icon-color);
    opacity: var(--main-opacity);
}
/* Side Bar-1 */
.sidebar-1 li a {
    display: block;
    padding: 5px;
}
.sidebar-1 i {
    margin-right: 5px;
    color: var(--main-icon-color);
}
/* 特集記事 */
.feature-articles {
    margin-bottom: var(--side-height-line);
}
/* おすすめ記事のメニュー */
.recommendation {
    margin-bottom: var(--side-height-line);
}
.recommendation li a {
    margin-bottom: 10px;
    padding: 0;
}
.recommendation img {
    width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
}
.recommendation .text {
    padding: 5px 10px;
    background-color: var(--main-icon-color);
    opacity: 0.5;
}
.recommendation a {
    position: relative;
}
.recommendation .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* 人気の記事のメニュー */
.popularity {
    margin-bottom: var(--side-height-line);
}
.popularity li a {
    display: block;
    padding: 5px;
    border-bottom: dotted 1px var(--main-font-color);
    color: var(--main-bottom-color);
}
.popularity a:after {
    content: "";
    display: block;
    clear: both;
}
.popularity img {
    float: left;
    max-width: 60px;
    width: 100%;
}
.popularity .text {
    float: none;
    width: auto;
    margin-left: 60px;
    padding-left: 15px;
}
.popularity span {
    display: block;
    color: var(--main-font-color);
    font-size: 0.8em;
}

/* ########### 599px以下 ###########  */
@media (max-width: 599px) {
    /* SNSのシェアボタン */
    .share span {
        display: inline-block;
    }
}
/* ########### 768px以上 ###########  */
@media screen and (min-width: 768px) {
    .wrap {
    display: grid;
    grid-template:  "header     header       header"      auto
                    "navigation navigation   navigation"  50px
                    "other article-main ads"         1fr
                    "footer     footer       footer"      50px
                    / 1%    1fr          30%;
    min-height: 100vh;
    }
    .article-main {
        margin-right: 1em;
    }
    .sidebar {
        margin-right: 1em;
    }
}
/* ########### 1040px以上 ###########  */
@media screen and (min-width: 1040px) {
    .wrap {
        display: grid;
        grid-template:  "header     header       header"      auto
                        "navigation navigation   navigation"  50px
                        "other article-main ads"         1fr
                        "footer     footer       footer"      50px
                        / 1fr   60%         30%;
        min-height: 100vh;
    }

    .article-main {
        margin-right: 5em;
    }
    .sidebar {
        margin-right: 15em;
    }
}