@charset "UTF-8";

/*
    Root Style
*/
:root {
    --main-bg-color: #222233;
    --main-bottom-color: #3388dd;
    --main-menuBg-color: #445566;
    --main-icon-color: #99aabb;
    --main-font-color: #ffffff;
    --main-font-size: 14px;
    --main-height-line: 15px;
    --main-opacity: 0.8;
    --main-padding-left: 15px;
    --main-margin-bottom: 30px;
    --side-border-bottom: dotted 2px #ffffff;
    --side-font-size: 1.3em;
    --side-height-line: 30px;
}

/*
    Common
*/
body {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', 'sans-serif';
    font-size: var(--main-font-size);
    background: var(--main-bg-color);
    color: var(--main-font-color);
    margin: 0;
}

/* Area Names */
.item__header { grid-area: header; }
.item__footer { grid-area: footer; }
/*.item__main { grid-area: main; }*/
.item__article_main { grid-area: article-main; }
.item__nav { grid-area: navigation;}
.item__ads { grid-area: ads; }
.item__other { grid-area: other; }

/* Site Name */
.site h1 {
    font-size: 2em;
    font-family: 'Paytone One', sans-serif;
    font-weight: normal;
}
/* List Style */
ul {
    padding: 0;
    list-style: none;
}
a {
    color: var(--main-font-color);
    text-decoration: none;
}
/* Footer */
.footer {
    background: var(--main-menuBg-color);
}
/* Copyright */
.copyright p {
    font-size: 0.9em;
    padding-left: var(--main-padding-left); 
}

/*
    Navigation
*/
/* バーの形にする */
.navigation {
    background-color: var(--main-menuBg-color);
}
.menu ul {
    padding: 0;
}
.menu li a {
    display: block;
    padding: 5px;
    padding-left: 15px; 
}
.menu li a:hover {
    background-color: var(--main-icon-color);
}
.menu ul::after {
    content: "";
    display: block;
    clear: both;
}
.menu li {
    float: left;
    width: auto;
}

.article {
    margin: 1em auto;
}

/* 続きを読む */
.more {
    background: var(--main-bottom-color);
    border-radius: 0.2em;
    padding: 0.5em;
}
/* ページネーション */
.pagenation {
    text-align: center;
}
.pagenation ul {
    display: inline-block;
    padding: 0;
    list-style: none;
}
.pagenation li a {
    display: block;
    margin-left: 5px;
    padding-right: 5px;
    padding: 5px 10px;
    border: solid 1px #aaaaaa;
}
.pagenation li a.active {
    background-color: var(--main-bottom-color);
}
.pagenation li a:hover {
    background-color: var(--main-icon-color);
}
.pagenation ul:after {
    content: "";
    display: block;
    clear: both;
}
.pagenation li {
    float: left;
    width: auto;
}

/* ########### 599px以下 ###########  */
@media (max-width: 599px) {
    /* ナビゲーション */
    /*.menu li a {
        padding: 10px 3px;
        font-size: 11px;
    }*/

    /* サイト名と記事のタイトル */
    /*.site h1 {
        font-size: 20px;
    }
    .article h1 {
        font-size: 26px;
    }*/

    /* ボックスの上下の間隔 */
    /*.container {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .article-main {
        padding-top: 25px;
    }*/

    /* 関連記事 */
    /*.kanren {
        padding: 10px;
    }
    .kanren li {
        width: 50%;
    }
    .kanren li:nth-child(3) {
        clear: both;
    }*/
}

/* ########### 600px以上 ###########  */
@media (min-width:600px) {
    /* 概要を横に並べる設定 */
    /*.container-inner:after {
        content: "";
        display: block;
        clear: both;
    }
    .container-inner .gaiyou {
        float: left;
        width: 50%;
    }
    .container-inner .gaiyou:nth-child(odd) {
        padding-right: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
    }
    .container-inner .gaiyou:nth-child(even) {
        padding-right: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }*/
}

/* ########### 600px以上〜767px以下 ###########  */
@media (min-width: 600px) and (max-width: 767px) {
    /* sidebar-1 と sidebar-2 を横に並べる設定 */
    /*.sidebar:after {
        content: "";
        display: block;
        clear: both;
    }

    .sidebar-1 {
        float: left;
        width: 50%;
    }
    .sidebar-2 {
        float: left;
        width: 50%;
    }*/

    /* sidebar-1 と sidebar-2 の左右の間隔 */
    /*.sidebar-1 {
        padding-right: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sidebar-2 {
        padding-left: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }*/
}

/* ########### 768px以上 ###########  */
@media (min-width: 768px) {
    /* article-mainとsidebarを横に並べる設定 */
    /*.container::after {
        content: "";
        display: block;
        clear: both;
    }
    .article-main {
        float: left;
        width: 70%;
    }
    .sidebar {
        float: left;
        width: 30%;
    }*/

    /* article-main と sidebar の左右の間隔 */
    /*.article-main {
        padding-right: 50px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }*/
}

/* ########### 1040px以上 ###########  */
@media (max-width: 10409px) {
    /* 全体の横幅を固定 */
    /*.container, .navigation-inner, .footer-inner {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }*/
}
