---
layout: default
---

<div class="item__other"></div>

<div class="article-main item__article_main">
  <article class="article">
    {% include tag.html %}

    <h1 class="article-title">{{ page.title }}</h1>

    <div class="article-info">
      <time datetime="{{ page.date }}">
        <i class="fa fa-clock-o"></i>{{ page.date | date: "%Y-%m-%d" }}
      </time>
    </div>

    <p><img src="{{ '/assets/img/' | relative_url }}{{ page.image }}" alt="{{ page.image }}"></p>

    {{ content }}

    {% include share.html %}

  </article>

  {% include relation.html %}

</div>
  
{% include side.html %}